﻿@model IEnumerable<XPos.ViewModel.ProductViewModel>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VariantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Initial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.VariantName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Initial)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Active)
    </td>
    <td>
    </td>
    <td>
        <div class="col-lg-10">
            <input type="text" id="txt-search" class="form-control" placeholder="Search..."/>
        </div>
        <div>

        </div>
    </td>
    <td>
        <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-warning btn-edit" data-id="@item.Id" title="Edit">
                <span class="glyphicon glyphicon-edit" aria-hidden="true">
                </span>
            </button>
        </div>

        <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-danger btn-delete" data-id="@item.Id" title="Delete">
                <span class="glyphicon glyphicon-trash" aria-hidden="true">
                </span>
            </button>
        </div>
    </td>
</tr>
}

</table>

<script type="text/javascript">
$(".btn-edit").click(function () {
        $.ajax({
            url: '@Url.Action("Edit", "Product")',
            type: 'get',
            data: {id: $(this).attr("data-id")},
            success: function (result) {
                $(".modal-title").html("Edit");
                $(".modal-body").html(result);
                $(".modal").modal("show");
            }
        });
});


$(".btn-delete").click(function () {
        $.ajax({
            url: '@Url.Action("Delete", "Product")',
            type: 'get',
            data: {id: $(this).attr("data-id")},
            success: function (result) {
                $(".modal-title").html("Delete");
                $(".modal-body").html(result);
                $(".modal").modal("show");
            }
        });

});
</script>
